/* shared color */
body {
    font-family: 'Lato', sans-serif;
}

.banner {
    background: rgba(229, 84, 115, 0.10);
    font-size: 20px;
    justify-content: around;
    display: flex;




}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.p-style {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;


}

.btn-primary {
    color: #FFF;
    font-size: 20px;

    border-radius: 3px;
    background: #E55473;
    border: 0;
    padding: 15px 35px;
}

.banner-content {
    padding: 240px;

}

.imge-edit {
    padding: 30px 30px 0px 100px;

}

/* main section styles */

.featured {
    padding: 100px;
    background: #FFF;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feartured-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.flower-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

.info-image {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    text-align: center;
}

.info-des {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 0 auto;
    background-position: right bottom;
}

.main {
    display: flex;
    gap: 50px;
    padding: 40px;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    width: 1000px;
    height: 150px;
    flex-shrink: 0;
    margin: 181px;


}

main-c {
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    /* text-align: left; */
    margin-top: 100px;



}

main-d {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    /* 145.833% */
}

main-e {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    /* 145.833% */
}

.discount-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    /* line-height: normal; */
}

.discount-s {
    color: rgba(39, 39, 39, 0.60);
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.sign-btn {
    color: #FFF;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    /* display: inline-flex; */
    padding: 15px 35px;
    /* align-items: flex-start; */
    /* gap: 10px; */
}

.discount {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1000;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 200px;

}

.haider {

    /* display: auto; */
    padding: 10px;
    /* width: 318px;
/* height: 420px; */
    flex-shrink: 0;
    
}

.instram {
    background: #FFF;
    margin: 128px;


}

.ins-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}

.ins-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 200px;
}

.flower-list{
    display: flex;
    gap: 10px;
    margin: 48px;
    padding-top: 48px;
    padding:auto;
}

